.App {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.graph-output {
  width: fit-content;
}

.date-picker-container-1 {
  position: absolute;
  top: 30px;
  left: 40px;
}

.Article1{
  position: absolute;
  top: 31px;
  left: 15px;
}

.date-picker-container-2 {
  position: absolute;
  top: 30px;
  left: 250px;
}

.Article2{
  position: absolute;
  top: 31px;
  left: 235px;
}

.Flux1{
  position: absolute; 
  top: 20%;
  left: 10px;
  text-align: left;
  font-weight: normal;
}

.Flux2{
  position: absolute; 
  top: 40%; 
  left: 10px; 
  text-align: left;
  font-weight: normal;
}