/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.orange-box {
  border: 2px solid orange;
  padding: 20px;
  margin: 20px;
}

.blue-box {
  border: 2px solid blue;
  padding: 20px;
  margin: 20px;
}
